<aside>
    <h5>Angular</h5>
    <ul class="navigation">
        <li>
            <a [routerLink]="['ngIf']" >ng If-Else</a>
        </li>
        <li>
            <a [routerLink]="['life-cycle']" >Life Cycle Hooks</a>
        </li>
        <li>
            <a [routerLink]="['custom-directive']" >Custom Directive & @HostListener</a>
        </li>
        <li>
            <a [routerLink]="['home']" >Component Interaction</a>
        </li>
        <li>
            <a [routerLink]="['services']" >Services</a>
        </li>
        <li>
            <a [routerLink]="['common']" >Common</a>
        </li>
        <li>
            <a [routerLink]="['dependency']" >Dependency Injection</a>
        </li>
        <li>
            <a [routerLink]="['form']" >Template & Reactive Form</a>
        </li>
        <li>
            <a [routerLink]="['singleton']" >Singleton</a>
        </li>
    </ul>


    <h5>RX JS </h5>
    <ul class="navigation">
        <li>
            <a [routerLink]="['interval']" >Interval</a>
        </li>
        <li>
            <a [routerLink]="['of-from']" >Of & From</a>
        </li>
        <li>
            <a [routerLink]="['toArray']" >toArray</a>
        </li>
        <li>
            <a [routerLink]="['customObservable']" >custom Observable</a>
        </li>
        <li>
            <a [routerLink]="['map']" >Map Operator</a>
        </li>
        <li>
            <a [routerLink]="['pluck']" >Pluck Operator</a>
        </li>
        <li>
            <a [routerLink]="['filter']" >Filter Operator</a>
        </li>
        <li>
            <a [routerLink]="['tap']" >Tap Operator</a>
        </li>
        <li>
            <a [routerLink]="['take']" >Take Operator</a>
        </li>
        <li>
            <a [routerLink]="['retry']" >Retry Operator - Important</a>
        </li>
        <li>
            <a [routerLink]="['debounce']" >Debounce Time & DistinctUntilChanged</a>
        </li>
        <li>
            <a [routerLink]="['subject']" >Subject & BehaviorSubject</a>
        </li>
        <li>
            <a [routerLink]="['replay']" >Replay Subject</a>
        </li>
    </ul>
</aside>