<div class="container-fluid">
    <div class="row">
        <h4>Component Interaction Technique</h4>
        <div class="col-sm-6">
            <h5>@input Method</h5>
            <app-parent></app-parent>
            <hr>
        </div>
        <div class="col-sm-6">
            <h5>@output Method</h5>
            <app-parent-a></app-parent-a>
            <hr>
        </div>
        <div class="col-sm-6">
            <h5>onChange Method</h5>
            <app-parent-b></app-parent-b>
            <hr>
        </div>
        <div class="col-sm-6">
            <h5>getter & setter Method</h5>
            <app-parent-c></app-parent-c>
            <hr>
        </div>
        <div class="col-sm-6">
            <h5>Component Interaction : Using a Service Method</h5>
            <app-parent-d></app-parent-d>
            <hr>
        </div>
    </div>

</div>





<div>
    <h3>Binding : One way & Two way</h3>
    <app-binding></app-binding>
    <hr>
</div>