<p>map works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <p>Example 01 : Map Data</p>
            <p>Data Coming here... <strong class="text-success">{{msg1}}</strong></p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <p>Example 02 : Map Data</p>
            <p>Data Coming here... <strong class="text-success">{{msg2}}</strong></p>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <p>Example 03 : Map Object Data</p>
            <ul id="mapData"></ul>
            
        </div>
    </div>
</div>