<h5>DebounceTime & DistinctUntilChanged</h5>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <h6 class="text-primary">DebounceTime Example</h6>
            <div class="form-group">
                <label for="" class="sr-only">Search...</label>
                <input type="text" class="form-control" id="" placeholder="Search..." #myInput>
            </div>
            <p *ngIf="requestedData != null">Requested Data <strong class="text-success">{{requestedData}}</strong></p>
              <!-- <button type="submit" class="btn btn-primary mb-2">Submit</button> -->
        </div>


        <div class="col-sm-6">
            <h6 class="text-warning">DistinctUntilChanged Example</h6>
            <div class="form-group">
                <label for="" class="sr-only">Search...</label>
                <input type="text" class="form-control" id="" placeholder="Search..." #myInput2>
            </div>
            <p *ngIf="requestedData2 != null">Requested Data <strong class="text-success">{{requestedData2}}</strong></p>
        </div>
    </div>
</div>
