<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>Example-01 : OF </p>
            <p>Data: of('John', 'Deo', 'Sarah')</p>
            <ul id="of"></ul>
            <ul id="throughObj">
                <li>{{rObj.a}}</li>
                <li>{{rObj.b}}</li>
                <li>{{rObj.c}}</li>
            </ul>
        </div>

        <div class="col-sm-6">
            <p>Example-02 : From</p>
            <ul id="arrShow"></ul>
            <ul id="arrShow1"></ul>
            <ul id="arrShow3"></ul>

        </div>
    </div>
</div>