<!-- <div>
    <h3>Component Interaction : @input Method</h3>
    <app-parent></app-parent>
    <hr>
</div>

<div>
    <h3>Component Interaction : @output Method</h3>
    <app-parent-a></app-parent-a>
    <hr>
</div>


<div>
    <h3>Component Interaction : onChange Method</h3>
    <app-parent-b></app-parent-b>
    <hr>
</div>

<div>
    <h3>Component Interaction : getter & setter Method</h3>
    <app-parent-c></app-parent-c>
    <hr>
</div>

<div>
    <h3>Component Interaction : Using a Service Method</h3>
    <app-parent-d></app-parent-d>
    <hr>
</div>

<div>
    <h3>Binding : One way & Two way</h3>
    <app-binding></app-binding>
    <hr>
</div> -->