<div class="container-fluid">
    <h3>Life Cycle Hooks</h3>
    
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <h3>Add user</h3>
                <label for="">User name : </label>
                <input type="text" class="form-control" [(ngModel)]="userName"  />
                <div class="mt-2">
                     <button class="btn btn-primary" (click)="userAdded()">Add user</button>
                </div>
             </div>
            
             <div class="mt-3">
                <h3>User list</h3>
                <button class="btn btn-primary" (click)="onNameChange()">Change Name</button>
                <app-on-change *ngFor="let user of userList" [userName]="user" [name]="name">
                    <p #userParagraph>User Name : {{user}}</p>
                </app-on-change>
             </div>
        </div>

        <div class="col-sm-12">

        </div>






    </div>
</div>