<p>filter works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>Example 01 : Filter Data</p>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of data1">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.gender}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>