<h5>take, takeLast and takeUntil</h5>
<div class="container-fluid">
    <div class="row">
        <!-- Example 01 -->
        <div class="col-sm-4">
            <ul id="elDataContainer1">

            </ul>
        </div>
        <!-- Example 02 -->
        <div class="col-sm-4">
            <ul id="elDataContainer2">

            </ul>
        </div>
        <!-- Example 03 -->
        <div class="col-sm-4">
            <ul id="elDataContainer3">

            </ul>
        </div>
    </div>
</div>